#home-layout{
    background-image: url("../../img/santorini-bg-blue.png");
    background-repeat: no-repeat;
    background-color: #00006E;
    background-size: 100%;
}

.homepage{
    margin-top: 50px;
}

.homepage h1{
    margin-bottom: 40px;
    color: #ffffff;
    text-shadow: 2px 2px #333333;
}

.homepage h2{
    margin-bottom: 40px;
    color: #ff9900;
    text-shadow: 2px 2px #333333;
}

.homepage h4{
    color: #ffffff;
    text-shadow: 2px 2px #333333;
}

img.img-center{
    margin-left: auto;
    margin-right: auto;
}

.button-homepage{
    background-color: #ff6600;
    width: 100%;
}

.form-homepage{
    margin-top: 60px;
}
